extends ./layout

block content
	- var hasPagination = typeof pagination !== 'undefined';

	if typeof blog !== 'undefined' && blog.length
		- var posts = hasPagination ? blog.slice(pagination.start, pagination.end + 1) : blog;

		each post in posts
			h3
				a(href="/#{post.path}") #{post.title}

			if post.less
				div !{post.less}
	else
		div Пока нет записей

	if typeof pagination !== 'undefined'
		include ./mixins/pagination
		+pagination(pagination)